.root {
  height: 0;
}

.url {
  font-size: 8pt;
  color: #828282;
  text-decoration: none;
}

.center {
  text-align: center;
}

.upvote {
  cursor: pointer;
}

.by {
  color: #828282;
}

.time {
  color: #828282;
}

.details {
  padding: 8px 0;
}

.hideBtnContainer {
  color: #828282;
}

.hideBtn {
  border: unset;
  color: black;
  cursor: pointer;
  background-color: unset;
  font-size: 10pt;
  font-family: Verdana, Geneva, sans-serif;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 9px solid grey;
  margin: 0 auto;
}
